/******************** GENERAL ********************/
body {

	font-family: 'Lato', sans-serif;
	background-color: #F6F9FA;
}

h1 {
	font-size: 32px;
	color: #3B4B56;
}

h2 {
	color: #506A85;
}

h5 {
	font-size: 17px;
	color: #73879C;
}

span.scroll a {
	color: #73879C;
}

span.scroll p a i{
	margin: 5px 0 20px 0;
}

span.fa-stack {
	margin-top: 10px;
}

.fa-inverse {
	color: #F6F9FA;
}

i.fa.fa-circle {
	color: #36454F;
}

/******************** BUTTONS ********************/
.btn-lg {
	font-size: 22px;
	background-color: #FE6960;
	border: 2px solid #F6F9FA;
	padding: 10px 40px;
}

.btn-lg:hover {
	border: 2px solid #F6F9FA;
	background-color: #E8665F;
}


/******************** NAVIGATION ********************/
.navbar-inverse {
	background: #283645;
	padding: 20px 0 23px 0;
	border-bottom: 1.5px solid rgba(246,249,250,0.2);
	margin: 0;
}

.navbar-inverse .navbar-collapse {
	border: none;
}

.navbar-inverse .navbar-nav>li>a {
	color: #5B717F;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-inverse .navbar-brand, 
.navbar-brand:hover {
	color: #F6F9FA;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-size: 15px;
}

.navbar-inverse .navbar-toggle {
	border-color: #283645;
	margin-top: -6px;
	color: #F6F9FA;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
	background: none;
}

.navbar-inverse .navbar-nav a::before,
.navbar-inverse .navbar-nav a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navbar-inverse .navbar-nav a::before {
	margin-right: 6px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
	color: #5B717F;
}

.navbar-inverse .navbar-nav a::after {
	margin-left: 6px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
	color: #5B717F;
}

.navbar-inverse .navbar-nav a:hover::before,
.navbar-inverse .navbar-nav a:hover::after,
.navbar-inverse .navbar-nav a:focus::before,
.navbar-inverse .navbar-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
	background: none;
	color: #F6F9FA;
}


/******************** JUMBOTRON ********************/
.jumbotron {
	background: url(../img/wood-sm.jpg);
	background-size: cover;
	border-bottom: 1.5px solid #D8D8D8;
	text-align: center;
	padding: 92px 0 100px 0;
	margin: 0;
}

.jumbotron h1 {
	color: #F6F9FA;
}

.jumbotron p {
	margin-top: 20px;
	padding: 15px 5px;
	color: rgba(242,242,242,0.8);
}


/******************** ABOUT ********************/
#about {
	border-bottom: 1.5px solid #D8D8D8;
	text-align: center;
	padding: 60px 0 46px 0;
}

#about h1 {
	text-transform: uppercase;
	margin-top: 42px;
}

#about h5 {
	line-height: 1.5em;
	padding: 10px 45px;
}

#about p.line {
	border-bottom: 2px solid #3B4B56;
	width: 70px;
	margin: -5px auto 40px auto;
}


/******************** SERVICES ********************/
#services {
	border-bottom: 1.5px solid #D8D8D8;
	text-align: center;
	padding: 60px 0 46px 0;
}

#services h1 {
	text-transform: uppercase;
	margin-top: 42px;	
}

#services h5 {
	line-height: 1.5em;
	padding: 10px 45px;
}

#services p.line {
	border-bottom: 2px solid #3B4B56;
	width: 70px;
	margin: -5px auto 40px auto;
}

/******************** WORK ********************/
#work {
	text-align: center;
	padding: 60px 0 62px 0;
}

#work h1 {
	text-transform: uppercase;
	margin-top: 42px;	
}

#work p.line {
	border-bottom: 2px solid #3B4B56;
	width: 70px;
	margin: -5px auto 0 auto;
}

.gallery {
	margin-top: 52px;
}

.gallery-inner {
	position: relative;
	width: 25%;
	float: left;
	border-right: 1px solid #F6F9FA;
	border-bottom: 1px solid #F6F9FA;
}

.gallery-inner img {
	margin: 0;
	padding: 0;
}

/******************** CONTACT ********************/
#contact {
	background-color: #33475D;
	text-align: center;
	padding: 61px 0 57px 0;
}

#contact h1 {
	color: #F6F9FA;
	text-transform: uppercase;
	margin-top: 41px;		
}

#contact h3 {
	color: #F6F9FA;
	margin: 51px 0 54px 0;
}

#contact p.line {
	border-bottom: 2px solid #73879C;
	width: 70px;
	margin: -5px auto 0 auto;
}

#contact p {
	font-size: 14px;
	color: #73879C;
}

#contact span.glyphicon {
	font-size: 25px;
	color: #73879C;
}

#contact span.scroll a {
	color: #73879C;
	margin-top: 40px;
}

#contact span.scroll p a i{
	margin-top: 40px;
}

#contact .email p a {
	color: #73879C;
}

#contact h5 {
	color: #73879C;
}

#contact .email p a:hover {
	color: #F6F9FA;
	text-decoration: none;
}

.email, .phone, .location {
	padding: none;
	margin-top: 73px;
}


/******************** FOOTER ********************/
footer {
	padding: 45px;
	background-color: #283645;
	color: #fff;
	position: absolute;
	width: 100%;
	text-align: center;
}

footer p {
	margin-top: 19px;
	font-size: 13px;
}

/******************** RESPONSIVE ********************/

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) {
	.navbar-inverse .navbar-nav>li>a {
		font-size: 14px;
	}

	.navbar-inverse .navbar-brand {
		font-size: 16px;
		margin-top: 9px;
	}

	.btn-lg {
		padding: 10px 65px;
	}

	.email, .phone, .location {
		padding: 15px 0;
		margin-top: 73px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) {
	.navbar-inverse .navbar-nav>li>a {
		font-size: 16px;
	}

	.navbar-inverse .navbar-brand {
		font-size: 21px;
		margin-top: 8px;
	}

	.btn-lg {
		padding: 10px 60px;		
	}
	
	.email, .phone, .location {
		padding: 15px 0;
		margin-top: 73px;
	}	
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px) {
	.navbar-inverse .navbar-nav>li>a {
		font-size: 17px;
	}

	.navbar-inverse .navbar-brand {
		font-size: 23px;
		margin-top: 7px;
	}

	.btn-lg {
		padding: 10px 70px;
	}

	.email, .phone, .location {
		padding: 15px 0;
		margin-top: 73px;
	}	
}