/******************** GENERAL ********************/
body { 
	padding: 50px 0 20px 0;
	font-family: 'Montserrat', sans-serif;
}

.about, .latest-work, .contact, .services {
	letter-spacing: 0.01em;
}

.glyphicon {
	color: #2d3339;
}

p {
	margin-top: 20px;
}


/******************** BUTTONS ********************/
.btn-lg {
	font-size: 24px;
	background-color: #E9594A;
	border: 2px solid #F6F9FA;
	padding: 10px 15px;
}

.btn-lg:hover {
	border: 2px solid #F6F9FA;
	background-color: #DB5C51;
}


/******************** NAVIGATION ********************/
.navbar-inverse {
	background: #36454F;
	padding: 17px 0;
}

.navbar-inverse .navbar-nav>li>a {
	color: #5B717F;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 6px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #F6F9FA;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background: #36454F;
	color: #F6F9FA;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
	color: #F6F9FA;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-size: 16px;
}

.navbar-inverse .navbar-toggle {
	border-color: #36454F;
	margin-top: -2px;
	color: #F6F9FA;
}

.navbar-inverse .navbar-brand {
	margin-top: 5px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background: #E6E6E6;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover {
	background: #36454F;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #36454F;
}

.navbar-inverse .navbar-toggle:hover {
	background: #36454F;
}


/******************** JUMBOTRON ********************/
.jumbotron {
	background: url(../img/wood1.jpg);
	background-repeat: inherit;
	background-size: cover;
	border-bottom: 1px solid #D8D8D8;
	text-align: center;
	padding: 122px 0 93px 0;

}

.jumbotron h1 {
	color: #f6f9fa;
}

.jumbotron p {
	margin-top: 19px;
	padding: 15px 5px;
	color: rgba(242,242,242,0.8);
}


/******************** ABOUT ********************/
#about {
	background-color: #F6F9FA;
	border-bottom: 1px solid #D8D8D8;
	text-align: center;
	padding: 40px 0 68px 0;
	margin-top: -30px;
}

#about h1 {
	color: #E9594A;
	text-transform: uppercase;
	margin-top: 50px;
	padding-bottom: 60px;

}

#about p.line {
	border-bottom: 2px solid #E9594A;
	width: 80px;
	margin: -70px auto 0 auto;
}

#about h4 {
	padding: 10px 35px;
	line-height: 1.5em;
}

span.fa-stack {
	margin-top: 66px;
}

.fa-inverse {
	color: #F6F9FA;
}

i.fa.fa-circle {
	color: #3B4B56;
}


/******************** SERVICES ********************/
#services {
	background-color: #F6F9FA;
	border-bottom: 1px solid #D8D8D8;	
	text-align: center;
	padding: 40px 0 68px 0;
}

#services h1 {
	color: #E9594A;
	text-transform: uppercase;
	margin-top: 50px;	
	padding-bottom: 60px;
}

#services h2 {
	margin-top: 50px;
}

#services h4 {
	padding: 10px 35px;
	line-height: 1.5em;
}

#services p.line {
	border-bottom: 2px solid #E9594A;
	width: 80px;
	margin: -70px auto 0 auto;
}


/******************** WORK ********************/
#work {
	background-color: #F6F9FA;
	text-align: center;
	padding: 40px 0 71px 0;
}

#work h1 {
	color: #E9594A;
	text-transform: uppercase;
	margin-top: 50px;
	padding-bottom: 60px;	
}

#work p.line {
	border-bottom: 2px solid #E9594A;
	width: 80px;
	margin: -70px auto 0 auto;
}

.img-responsive {
	margin: 15px auto;
	padding: 10px 10px;
	box-shadow: 0 15px 25px -18px;
}

.latest-images {
	margin-top: 49px;
}


/******************** CONTACT ********************/
#contact {
	background-color: #36454F;
	border-top: 1px solid #D8D8D8;
	text-align: center;
	padding: 30px 0 67px 0;
}

#contact h1 {
	color: #E9594A;
	text-transform: uppercase;
	margin-top: 60px;
	padding-bottom: 60px;	
}

#contact p.line {
	border-bottom: 2px solid #E9594A;
	width: 80px;
	margin: -70px auto 0 auto;
}

#contact h3 {
	line-height: 1.4em;
	margin-top: 50px;
	margin-bottom: 53px;
	color: #F6F9FA;
}

#contact h4 {
	font-weight: 700;
	padding-top: 10px;
}

#contact h4, p {
	color: #F6F9FA;
}

#contact span.glyphicon {
	font-size: 25px;
	color: #F6F9FA;
}

#contact a {
	text-decoration: none;
	color: #E9594A;
}

#contact .email p a {
	color: #F6F9FA;
}

#contact .email p a:hover {
	color: #E9594A;
}

.email, .phone, .location {
	padding: 15px 0;
	margin-top: 46px;
}

#contact-button {
	margin-top: 40px;
}

#contact-button a {
	color: #F6F9FA;
}


/******************** FOOTER ********************/
footer {
	padding: 50px;
	background-color: #E9594A;
	color: #fff;
	position: absolute;
	width: 100%;
	text-align: center;
}


/******************** RESPONSIVE ********************/
@media(min-width:320px) {
	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
		font-size: 13px;
		margin-top: 2px;
	}
}

@media(min-width:768px) {
	.navbar-inverse .navbar-nav>li>a {
		font-size: 13px;
	}

	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
		font-size: 16px;
		margin-top: 6px;
	}
}

@media(min-width:992px) {
	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
		font-size: 18px;
		margin-top: 5px;
	}
}

@media(min-width:1200px) {
	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
		font-size: 20px;
		margin-top: 1px;
	}
}